/* .logo-container{
    width: 20%;
    display: flex;
}
.bg-color{
    background-color: #171717 !important;
}
.align-right{
    width: 90% !important;
}
.search-icon{
    position: absolute;
    right: -8px;
    top: 50%;
    transform: translate(-50%,-50%);
}
.clear-padding{
    padding-left: 8px !important;
    padding-right: 8px !important;
    grid-gap: 5px;
    position: fixed !important;
    width: 100%;
    z-index: 1;
    background-color: #171717 !important;
} */
.navbar-container{
    width: 100%;
    position: fixed !important;
    grid-template-columns: 20% 10% 80%;
    display: grid;
    align-items: center;
    z-index: 1;
    background: #171717;
}
.search-icon img{
    width: 15%;
}
.back-btn-container img {
    width: 25%;
}
.search-container{
    display: grid;
    grid-template-columns: 80% 20%;
    width: 83%;
    height: 50px;
    align-items: center;
}
.input-search input{
    width: 100%;
    padding: 5px;
    background: transparent;
    border: none;
    color: #ffffff;
}
.is_active{
    border: 1px solid yellow;
    margin-right: 8px;
    outline: none !important;
}
.input-search input:focus-visible {
outline: none !important;
}

.search-icon{
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: right;
    margin-right: 10px;
}
.back-btn-container{
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: right;
    margin-right: 10px;
    
}
@media only screen 
     and (min-device-width: 320px) 
     and (max-device-width: 479px) {
        .logo-container{
            width: 100%;
        display: block;
        }
        .search-enabled{
            grid-template-columns: 20% 80% !important;
        }
        .navbar-container{
            grid-template-columns: 20% 10% 70%;
            height: 50px;
        }
        .search-icon img{
            width: 35%;
        }
        .back-btn-container{
            justify-content: left;
            margin-left: 10px;
        }
        .search-container{
            width: auto;
            height: auto;
        }
        .show-logo{
            display: none;
        }
     }