.logo-container{
    width: 20%;
    display: flex;
}
.bg-color{
    background-color: #171717 !important;
}
.align-right{
    /* position: absolute;
    right: 5px;
    left: 8px;
    width: 96%; */
}
.search-icon{
    position: absolute;
    right: -8px;
    /* top: 27%; */
    top: 50%;
    transform: translate(-50%,-50%);
}
.clear-padding{
    padding-left: 8px !important;
    padding-right: 8px !important;
    grid-gap: 5px;
}
.back-btn{
    width: 2%;
}
@media only screen 
     and (min-device-width: 320px) 
     and (max-device-width: 479px) {
        .back-btn{
            width: 5%;
        }
     }